:root {
    --bg-color: #0d0d0d;
    --text-color: #ffffff;
}

@media (prefers-color-scheme: light) {
  :root {
  --bg-color: #ffffff;
  --text-color: #000000;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}